:root {
  --black-text: #000;
  --black-text-tr: rgba(0, 0, 0, 0.5);
  --primary-denim: #4e6490;
  --primary-denim-tr: rgba(78, 100, 144, 0.5);
  --secondary-terra-cota: #cd5e39;
  --secondary-terra-cota-tr: rgba(205, 94, 57, 0.5);
  --dark-blue: #00323e;
  --dark-blue-tr: rgba(0, 50, 62, 0.5);
  --off-white: #f2e3cc;
  --off-white-tr: rgba(242, 227, 204, 0.5);
}