/* INITIALISATION */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

/* VARIABLES */
:root {
  /* COULEURS DES FONDS */
  --bg-primary: #22116b;
  --bg-contrast: #e3e649;
  --bg-dark: #130a3d;
  /* COULEURS DES TEXTES */
  --text: black;
  --text-light: #9e90dd;
  --text-contrast: white;
  /* HAUTEURS / LARGEURS */
  --nav-height: 50px; /* Hauteur de la barre de navigation */
  --footer-height: 50px; /* Hauteur de la barre du footer */
}

/* HORS MEDIA QUERIES */
nav {
  background-color: var(--bg-primary);
  color: var(--text-contrast);
  display: flex;
  top: 0;
  justify-content: space-between;
  height: var(--nav-height);
  padding: 1rem;
  border-top: var(--bg-contrast) solid 3px;
}
nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav > ul > li {
  list-style-type: none;
  margin: 0 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);
  color: var(--text-contrast);
  height: var(--footer-height);
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: var(--bg-contrast) solid 3px;
}

h1 {
  color: var(--text-contrast);
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark);
  color: var(--text-light);
  width: 100%;
  border-bottom: black 1px solid;
}

.line-hover {
  background-color: var(--bg-contrast);
  color: var(--text);
}

#products {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem;
}
#products > article {
  width: 100%;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}
@media (max-width: 480px) {
  /* deuxieme article de la section produits masqué en responsive  */
  #products > article:nth-child(2) {
    display: none;
  }
}
